:root {
    --primary : #1a8b9d;
    --bg : #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'poppins', sans-serif;
    background-color: var(--bg);
    color: #fff5f5;
}

/*hero section*/

.hero {
    min-height: 85vh;
    display: flex;
    align-items: center;
    background-image: url('header-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(1,1,3,1) 3%, rgba(255,255,255,0) 25%);
}

.hero .row {
    padding: 1.5rem 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .row .home-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .row .home-img img{
    width: 65%;
    border-radius: 90%;
}

.hero .content {
    padding: 1.5rem 7%;
    max-width: 60rem; 
}

.hero .content h1 {
    font-size: 1.7rem;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
}

.hero .content p {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 200;
    text-align: justify;
    text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
    mix-blend-mode: difference;
}

/* about section */
.about, .experience, .skills {
    padding: 7rem 7% 7rem;
}

.about h2, .experience h3, .skills h3 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.about h2 span{
    color: var(--primary)
}

.about .content {
    padding: 1.5rem 1%;
}

.about .content h3 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.about .content p {
    font-size: 1.5rem;
    font-weight: 200;
    margin-right: 7rem;
    margin-left: 7rem;
    margin-bottom: 0.3rem;
    line-height: 1.4;
    text-align: center;
}

/* skills section */
.skills .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
}

.skills .row .skills-card {
    text-align: center;
    padding: 1rem 5%;
}
.skills .row .skills-card-title{
    margin: 1rem auto 0.5rem;
}

/* experience section */
.experience h3, .skills h3 {
    margin-bottom: 1rem;
}
.experience p, .skills p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
}
.experience .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
}
.experience .row .experience-card {
    text-align: center;
    padding: 1rem 5%;
}
.experience .row .experience-card img{
    width: 10rem;
    border-radius: 50%;
}
.experience .row .experience-card-title{
    margin: 1rem auto 0.5rem;
}
.experience .row .experience-card-date{
    margin: 1rem auto 0.5rem;
}
.experience .row .experience-card-paragraf{
    max-width: 15rem;
    text-align: justify;
}

/* footer */
footer {
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
}
footer .social{
    padding: 1rem 0;
}
footer .social a{
    color: #fff;
    margin: 0.5rem;
}
footer .social a:hover{
    color: var(--bg)
}
footer .link a:hover{
    color: var(--bg)
}
footer .link {
    margin-bottom: 1.5rem;
}
footer .link a{
    color:#fff;
    padding: 0.7rem 1rem;
}
footer .credit {
    font-size: 0.8rem;
}
footer .credit span{
    color: var(--bg);
    font-weight: 700;
}
